
* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  background-color: #ffffff;
  color: #29342a;
  font-family: Instrument Serif;
  line-height: 1.6;
}


header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;

  padding: 20px 6%;

  background-color: #d2e9c4;
}

header > a {
  color: #29342a;
  font-family: "Courier New", monospace;
  font-size: 24px;
  text-decoration: none;
}



nav {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
}

nav a {
  color: #29342a;
  font-family: Arial, sans-serif;
  font-size: 14px;
  text-decoration: none;
}

nav a:hover {
  text-decoration: underline;
}

.hero {
  width: 100%;
  height: 400px;

  padding: 0 6%;

  background-image: url("Skærmbillede 2026-10-05 012116.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  display: flex;
  align-items: center;
  justify-content: flex-start;
}
main > section {
  padding: 50px 6%;
}



h1,
h2,
h3 {
  line-height: 1.2;
  font-weight: normal;
}

h1 {
  margin-top: 0;
  font-size: 48px;
}

h2 {
  font-size: 30px;
}

h3 {
  font-size: 24px;
}

p {
  max-width: 700px;
}






.travel-time {
  width: 200px;
  min-height: 150px;
  padding: 30px 60px;

  background-color: #d2e9c4;

  display: flex;
  flex-direction: column;
  gap: 45px;
}

.travel-location {
  display: flex;
  align-items: center;
  gap: 10px;
}

.travel-location label {
  font-family: Arial, sans-serif;
  font-size: 20px;
}

.travel-location input {
  width: 200px;
  padding: 10px;

  border: 1px solid #29342a;
  border-radius: 5px;

  font-size: 16px;
}

.transport {
  display: flex;
  align-items: center;
  gap: 40px;
}

.transport-icon {
  width: 60px;
  font-size: 48px;
  text-align: center;
}

.travel-result {
  font-family: Arial, sans-serif;
  font-size: 20px;
}


footer {
  padding: 25px 6%;

  background-color: #c4ee9e;

  font-family: "Courier New", monospace;
  font-size: 14px;
}



a:focus-visible {
  outline: 3px solid #476a39;
  outline-offset: 5px;
}


.cards {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: stretch;
  gap: 40px;

  padding: 60px 6%;
}

.card {
  width: 320px;
  padding: 20px;

  background-color: lightyellow;
  font-family: Instrument Serif;
  font-size: 20px;
}

.card img {
  display: block;
  width: 100%;
  height: 300px;
  object-fit: cover;
}

  
@media (max-width: 400px) {

  header {
    flex-direction: column;
    align-items: flex-start;
  }

  nav {
    gap: 15px;
  }

  h1 {
    font-size: 34px;
  }

  main > section {
    padding: 35px 6%;
  }

.my-photo {
  width: 200px;
  height: 50px;
  object-fit: contain;
}
